<ion-view>
    <ion-content class="center" overflow-scroll="true">
       
            <h3>Sales Solution</h3>
            <div class="row ">
                <div class="col center">
                    <ul>

                        <li>
                            <a ui-sref="addRetailer">
                                <div class="row one">
                                    <span class="ion-person-add ion-resizd"></span>
                                </div>
                                <div class="row one">
                                    Add Retailer
                                </div>
                            </a>

                        </li>

                        <li>
                            <a ui-sref="newOrder">
                                <div class="row one">
                                    <span class="ion-document-text ion-resizd"></span>
                                </div>
                                <div class="row one">
                                    New Order
                                </div>
                            </a>

                        </li>

                        <li>
                            <a ui-sref="remainder">
                                <div class="row one">
                                    <span class="ion-calendar ion ion-resizd"></span>
                                </div>
                                <div class="row one">
                                    Remainder
                                </div>
                            </a>

                        </li>
                        <li>
                            <a ui-sref="map">
                                <div class="row one">
                                    <span class="ion-ios-location ion-resizd"></span>
                                </div>
                                <div class="row one">
                                    View Map
                                </div>
                            </a>

                        </li>


                    </ul>
                </div>

                <div class="col center">

                    <ul>

                        <li>
                            <a ui-sref="allRetailer">
                                <div class="row one">
                                    <span class="ion-person-stalker ion-resizd"></span>
                                </div>
                                <div class="row one">
                                    All Retailer
                                </div>
                            </a>

                        </li>

                        <li>
                            <a ui-sref="availableStock">
                                <div class="row one">
                                    <span class="ion-ios-cart ion-resizd"></span>
                                </div>
                                <div class="row one ">
                                    Availble Stocks
                                </div>
                            </a>

                        </li>

                        <li>
                            <a ui-sref="history">
                                <div class="row one">
                                    <span class="ion-android-checkbox-outline ion-resizd"></span>
                                </div>
                                <div class="row one ">
                                    History Order
                                </div>
                            </a>
                        </li>
                            <li>
                                <a ui-sref="messages">
                                    <div class="row one">
                                        <span class="ion-ios-email ion-resizd"></span>
                                    </div>
                                    <div class="row one ">
                                        Messages
                                    </div>
                                </a>
                            </li>
                            
                            
                    </ul>


                </div>
            </div>
        
    </ion-content>
    <div class="tabs tabs-icon-buttom">
        <a class="tab-item">
            <i class="icon ion-home"></i> Home
        </a>
        <a class="tab-item" ng-click="showConfirm()">
            <i class="icon ion-log-out"></i> Log out
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i> Settings
        </a>
    </div>
</ion-view>